
.gradient-custom-2 {
  /* fallback for old browsers */
  background: #EDF2F7;

  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(to right, #2C7A7B, #3182CE);

  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(to right, #2C7A7B, #3182CE);
}

.login-btn-primary {
  background-color: #2C7A7B !important;
  color: #fff !important;
}

.login-btn-accent {
  background-color: #3182CE !important;
  color: #fff !important;
}

.login-bg {
  background-color: #EDF2F7 !important;
}

.login-text {
  color: #2D3748 !important;
}

@media (min-width: 768px) {
  .gradient-form {
    height: 100vh !important;
  }
}
@media (min-width: 769px) {
  .gradient-custom-2 {
    border-top-right-radius: .3rem;
    border-bottom-right-radius: .3rem;
  }
}